body {
    background-color: #888888;
  }

h2 {
  color: #800000;
}

h1 {
  color: #FFD700
}

h3 {
  color: #800000
}

p {
  color: #FFFDD0
}

ul {
  color: #FFD700
}

ol {
  color: #FFFDD0
}

a {
  color: #FFFDD0
}
